body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#light, #dark {
  opacity: 1;
}

#textarea {
  width: 100%;
  height: 100%;
  font-size: 200%;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
}

#settings {
  z-index: 100;
  position: fixed;
  font-size: 300%;
  font-family: monospace;
  font-weight: bold;
  bottom: 0;
  right: 5px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#page, #minus, #plus {
  display: inline-block;
}

#page {
  font-size: 50%;
}

#minus {
  font-size: 75%;
}

.hide {
  display: none;
}


/* Light mode */

#light,
#light #textarea {
  background: white;
  color: black;
}

#light #textarea::placeholder {
  color: silver;
}


/* Dark mode */

#dark,
#dark #textarea {
  background: #36393f;
  color: white;
}

#dark #textarea::placeholder {
  color: #e0e0e0;
}
