body {
  margin: 0;
  padding: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#light, #dark {
  opacity: 1;
}

#textarea {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

#settings {
  z-index: 100;
  position: fixed;
  font-weight: bold;
  bottom: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#textarea, #settings {
  font-family: inherit;
  font-size: inherit;
  padding: 25px;
}

.hide {
  display: none;
}


/* Light mode */

#light,
#light #textarea {
  background: white;
  color: black;
}

#light #textarea::placeholder {
  color: silver;
}


/* Dark mode */

#dark,
#dark #textarea {
  background: #36393f;
  color: white;
}

#dark #textarea::placeholder {
  color: #e0e0e0;
}
