body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

/* Themes */

#light, #dark, #custom {
  opacity: 1;
}

/* Generic styles */

a {
  text-decoration: none;
  font-weight: bold;
}

.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }
.line-through { text-decoration: line-through; }

.hide {
  display: none !important;
}

hr {
  height: 1px;
  border: none;
  background: darkgray;
}

/* Notifications */

#notification {
  padding: 1em;
}

#notification a {
  font-weight: bold;
}

#notification a:hover {
  text-decoration: underline;
}

/* Main page */

#notes {
  height: 100%;
  padding: 1em;
  overflow-y: auto;
  user-select: none;
}

.note-tile {
  display: inline-block;
  box-sizing: border-box;
  width: 48%;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 2% 2% 0;
  padding: .5em;
}

.note-tile .row {
  display: flex;
  justify-content: space-between;
}

.note-tile .note-name {
  padding-right: 1em;
  flex-grow: 1;
}

.note-tile .note-content {
  height: 78px;
  height: 15em;
  overflow: hidden;
  font-size: 30%;
  pointer-events: none;
}

.note-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}

/* Bottom */

.bottom {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.bottom > a, .bottom > div { margin-left: auto; }
.bottom a:hover { text-decoration: underline; }

#sync-details { font-size: 50%; color: #7b7c7d; }
#sync-details > div { margin-top: 1em; }

/* Note detail */

#panel {
  padding: 1em 1em 0 1em;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

#content, .note-tile .note-content {
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  overflow-y: auto;
}

#content ul, #content ol {
  list-style-position: inside;
  margin: 0;
}

/* Note Options & Dropdown */

.note-options {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  height: .8em;
}

.note-options .dropdown {
  display: none;
  position: absolute;
  border-radius: 2px;
  font-size: .5em;
  font-weight: bold;
  transform: translateX(calc(-50% + .8em));
  z-index: 5;
}

.note-options .dropdown.open {
  display: block;
}

.note-options .dropdown .action {
  cursor: pointer;
  margin: .8em;
}

.note-options .dropdown .action:hover {
  text-decoration: underline;
}

/* Toolbar */

#toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 0;
  margin: 0 1em;
  user-select: none;
}

#toolbar .control {
  margin: .3em .5em 0 0;
  font-size: .7em;
  padding: .2em;
  border-radius: 2px;
  cursor: pointer;
}

#toolbar .control:first-child { margin-left: -.2em; }

#toolbar .control > svg { height: .7em; }

#toolbar .control .two { font-size: .9em; font-weight: bold; }
#toolbar .control .three { font-size: .7em; font-weight: bold; }

#toolbar #S { margin-right: 2.5em; }

/* Overlay */

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.to-rename { background: rgba(26,115,232,.4); }
.to-rename.note-tile { border-color: #1a73e8 !important; }

.to-delete { background: rgba(255,0,0,.6); }
.to-delete.note-tile { border-color: transparent !important; }

/* Modal */

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: .5em;
  border-radius: 5px;
  transform: translate(calc(-50% - .5em), calc(-50% - .5em));
}

#modal input {
  max-width: 500px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 12px;
}

#modal #input {
  width: 100%;
  background: white;
}

#modal #buttons {
  text-align: right;
}

#modal #buttons input {
  cursor: pointer;
  font-size: 1rem;
}

/* Focus */

body.focus #panel,
body.focus #toolbar {
  display: none;
}

/* Light theme */

#light, #light #content {
  background: white;
  color: black;
}

#light #notification {
  border-bottom: 1px solid silver;
}

#light a {
  color: #7b7c7d;
}

#light .note-tile { border-color: #dfe1e5; }
#light .note-tile:hover { border-color: #1a73e8; }

#light .note-options .dropdown-toggle { fill: black; }
#light .note-options .dropdown {
  background: white;
  color: black;
  border: 1px solid #1a73e8;
}

#light #toolbar .control { color: #222; }
#light #toolbar .control > svg { fill: #222; }

#light #toolbar .control:hover { color: white; background: #222; }
#light #toolbar .control:hover > svg { fill: white; }

#light #modal { background: white; border: 1px solid #dfe1e5; }
#light #modal #input { border: 1px solid #dfe1e5; }
#light #modal #buttons input {
  background: #222;
  color: white;
}

/* Dark theme */

#dark, #dark #content {
  background: #121212;
  color: white;
}

#dark a {
  color: white;
}

#dark .note-tile { border-color: #3c3c3c; }
#dark .note-tile:hover { border-color: #8e8e8e; }

#dark .note-options .dropdown-toggle { fill: white; }
#dark .note-options .dropdown {
  background: #121212;
  color: white;
  border: 1px solid #dfe1e5;
}

#dark #toolbar .control { color: #626262; }
#dark #toolbar .control > svg { fill: #626262; }

#dark #toolbar .control:hover { color: white; background: #222; }
#dark #toolbar .control:hover > svg { fill: white; }

#dark #modal { background: #222; border: 1px solid #3c3c3c; }
#dark #modal #buttons input {
  background: white;
  color: #121212;
}

/* Custom theme */

#custom {
  background: var(--background);
  color: var(--text);
}

#custom a { color: var(--text); }

#custom .note-tile { border-color: var(--text); }

#custom .note-options .dropdown-toggle { fill: var(--text); opacity: .6; }
#custom .note-options .dropdown {
  background: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
}

#custom #toolbar .control { color: var(--text); }
#custom #toolbar .control > svg { fill: var(--text); }

#custom #toolbar .control:hover { color: var(--background); background: var(--text); }
#custom #toolbar .control:hover > svg { fill: var(--background); }

#custom #modal { background: var(--background); border: 1px solid var(--text); }
#custom #modal #input { border: 1px solid var(--text); }
#custom #modal #buttons input {
  background: var(--text);
  color: var(--background);
}

/* Media Queries */

@media (max-width: 800px) {
  .note-tile {
    width: 100%;
    margin: 0 0 2% 0;
  }
}

@media (max-width: 600px) {
  .note-tile .note-content {
    display: none;
  }
}
