body {
  margin: 0;
  padding: 2em;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 150%;
  opacity: 0;
}

/* Generic styles */

h2 { padding-top: 50px; }
h3 { padding-top: 20px; }
a { font-weight: bold; text-decoration: underline; }

label { padding: 10px 8px; }
input, select {
  font-family: inherit;
  font-size: inherit;
}

.separator { padding: 0 12px; }
.bold { font-weight: bold; }
.hide { display: none !important; }
.space-right { margin-right: 1em; }

/* Radio or Checkbox selection */

.selection { padding: 10px 0px; }
.comment {
  font-size: 90%;
  font-weight: normal;
  opacity: .8;
}

/* Font type */

#current-font-name {
  padding: 0px 8px;
  font-weight: bold;
}

.font-category { cursor: pointer; }
.font-category.active { text-decoration: underline; }

#submit { opacity: .3; }
#submit.active { opacity: 1; cursor: pointer; }

.font-area .selection {
  font-size: 80%;
}

#google-fonts-area {
  display: flex;
  flex-direction: column;
}

#google-fonts-area ol { margin-top: 0; }
#google-fonts-area ol li { padding: 10px 0; }

#google-fonts-area input {
  max-width: 500px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid silver;
  padding: 12px;
}

/* Font size */

#current-size {
  color: #9E9E9E;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/* With comment */

.selection.with-comment {
  display: flex;
  align-items: baseline;
}

.selection.with-comment .comment {
  margin: 15px 35px 30px 35px;
  padding: 20px;
  border-radius: 6px;
}

/* Sync */

#sync-folder-location {
  word-break: break-all;
}

/* Light theme */

#light, #dark {
  opacity: 1;
}

#light-theme-label, #dark-theme-label {
  margin-left: 10px;
  border-radius: 3px;
}

#light, #light-theme-label {
  background: white;
  color: black;
}

#light a {
  color: black;
}

#light .selection.with-comment .comment {
  background: #d6d6d6;
}

/* Dark theme */

#dark, #dark-theme-label {
  background: #121212;
  color: white;
}

#dark a {
  color: white;
}

#dark .slider {
  background: white;
}

#dark .slider::-webkit-slider-thumb {
  background: white;
  width: 12px;
  height: 12px;
}

#dark .slider::-moz-range-thumb {
  background: white;
  width: 12px;
  height: 12px;
}

#dark .selection.with-comment .comment {
  background: #222;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .font-category {
    display: block;
  }

  .separator {
    display: none;
  }
}
