body {
  margin: 0;
  padding: 2em;
  font-family: Calibri, Arial;
  font-size: 150%;
  opacity: 0;
}

h2 {
  padding-top: 50px;
}

h3.pad {
  padding-top: 20px;
}

label {
  padding: 10px 8px;
}

input, select {
  font-family: inherit;
  font-size: inherit;
}

.selection {
  padding: 10px 0px;
}

.comment {
  font-size: 80%;
  font-weight: normal;
  font-style: italic;
  color: #9E9E9E;
  user-select: none;
}

.separator {
  padding: 0 12px;
}

.heavy {
  font-weight: bold;
}

.hide {
  display: none !important;
}

#contact, #see-whats-new {
  font-weight: bold;
  text-decoration: underline;
}

#see-whats-new {
  margin-left: 1em;
}


/* Font */

#current-font-name {
  padding: 0px 8px;
  font-weight: bold;
}

#submit {
  opacity: .3;
}

.font-category {
  cursor: pointer;
}

.font-category.active {
  text-decoration: underline;
}

#submit.active {
  opacity: 1;
  cursor: pointer;
}

.font-area .selection {
  font-size: 80%;
}

#googlefonts-area {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#googlefonts-area input {
  outline: none;
  border: 1px solid silver;
  padding: 12px;
}


/* Size */

#current-size {
  color: #9E9E9E;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}


/* Mode */

#light, #dark {
  opacity: 1;
}

#light-mode-label, #dark-mode-label {
  margin-left: 10px;
  border-radius: 3px;
}

#light, #light-mode-label {
  background: white;
  color: black;
}

#light a {
  color: black;
}

#dark, #dark-mode-label {
  background: #121212;
  color: white;
}

#dark a {
  color: white;
}

#dark .slider {
  background: white;
}

#dark .slider::-webkit-slider-thumb {
  background: white;
  width: 12px;
  height: 12px;
}

#dark .slider::-moz-range-thumb {
  background: white;
  width: 12px;
  height: 12px;
}


/* Keyboard Shortcuts */

.shortcut {
  font-weight: bold;
  padding-right: 20px;
}


/* Options */

#options .selection {
  display: flex;
  align-items: baseline;
}

#options .selection .comment {
  padding: 10px 8px;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
  .font-category {
    display: block;
  }

  .separator {
    display: none;
  }
}
