body {
  margin: 0;
  padding: 50px;
  font-family: Calibri, Arial;
  font-size: 150%;
}

h2 {
  padding-top: 50px;
}

h3#generics {
  padding-top: 20px;
}

#current-font-name {
  padding: 0px 8px;
  font-weight: bold;
}

.font-generic {
  cursor: pointer;
}

.slash {
  padding: 0 12px;
}

.fonts {
  display: none;
}

.selection {
  padding: 10px 0px;
  font-size: 80%;
}

.comment {
  font-size: 70%;
  padding-top: 30px;
  line-height: 150%;
  opacity: .5;
}

.shortcut {
  font-weight: bold;
  padding-right: 20px;
}

#light-mode-label, #dark-mode-label {
  padding: 10px 8px;
  margin-left: 10px;
  border-radius: 3px;
}

#light, #light-mode-label {
  background: white;
  color: black;
}

#dark, #dark-mode-label {
  background: #36393f;
  color: white;
}

@media only screen and (max-width: 600px) {
  .font-generic {
    display: block;
  }

  .slash {
    display: none;
  }
}
