:root {
  --default-sidebar-width: 25%;
}

html {
  font-size: 12px;
}

body, #sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

body {
  right: 0;
}

svg {
  fill: var(--svg-fill-color);
}

.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }
.line-through { text-decoration: line-through; }

/* Layers */

#tooltip-container {
  z-index: 100;
}

#command-palette {
  z-index: 30;
}

#modal {
  z-index: 20;
}

#context-menu {
  z-index: 15;
}

#overlay {
  z-index: 10;
}

#sidebar, #toolbar {
  z-index: 5;
}

.notification {
  z-index: 4;
}

#content {
  z-index: 2;
}

/* Keyframes */

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Notifications */

.notification {
  font-weight: bold;
  padding: 1em;
  border-bottom: 1px solid var(--notification-border-color);
}

/* Bar (for #sidebar-buttons and #toolbar) */

#toolbar, #sidebar-buttons {
  font-size: .8em;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  box-sizing: border-box;
  border-top: 1px solid var(--bar-border-color);
  padding: 0 .25em;
}

.bar > .button {
  font-weight: bold;
  padding: .5em;
  margin: .5em .25em;
  border-radius: 3px;
  height: 1.2em;
  width: 1em;
  flex-shrink: 0;
}

.bar > .button.disabled {
  opacity: .4;
}

.bar > .button.last {
  margin-left: auto;
}

.bar > .button.auto {
  width: auto;
}

.bar > .button > * {
  pointer-events: none;
}

/* Sidebar */

#sidebar {
  max-width: 50% !important;
  width: var(--default-sidebar-width);
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  transform: translateX(-100%);
}

body.with-sidebar #sidebar { transform: translateX(0); }
body.with-sidebar { left: var(--default-sidebar-width); }
body:not(.with-sidebar) { left: 0 !important; }

#sidebar-notes {
  padding: .5em;
  overflow-y: auto;
  flex-grow: 1;
  background: var(--sidebar-notes-background-color);
  color: var(--sidebar-notes-text-color);
}

#sidebar-notes .note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: .5em 1em;
  margin-top: 3px;
  border-radius: 3px;
}

#sidebar-notes .note svg {
  height: 1em;
  flex-shrink: 0;
}

#sidebar-notes .note:hover,
#sidebar-notes .note.active {
  background: var(--sidebar-active-note-background-color);
  color: var(--sidebar-active-note-text-color);
}

#sidebar-notes .note.drag-over {
  background: var(--selection-background-color);
  color: var(--selection-text-color);
}

@keyframes confirmation {
  0% {
    background: var(--selection-background-color);
    color: var(--selection-text-color);
  }
  100% {
    background: initial;
    color: initial;
  }
}

#sidebar-notes .note.drag-confirmation {
  animation: confirmation .3s cubic-bezier(1, 0, 0.5, 1) 2 alternate;
}

#sidebar-buttons .button {
  cursor: pointer;
}

#sidebar-buttons.drag-over {
  background: var(--selection-background-color);
  color: var(--selection-text-color);
}

#sidebar-buttons.drag-over .button {
  pointer-events: none;
}

#sidebar-buttons.drag-over svg {
  fill: white;
}

body.syncing #sync-now > svg {
  animation: rotating .5s linear infinite;
}

#drag {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  background: var(--drag-background-color);
  border-right: 1px solid var(--drag-border-color);
}

body.resizing-sidebar #drag {
  background: var(--drag-resizing-background-color);
  border-color: var(--drag-resizing-border-color);
}

body.resizing-sidebar #sidebar-notes,
body.resizing-sidebar #sidebar-buttons,
body.resizing-sidebar #content,
body.resizing-sidebar #toolbar {
  pointer-events: none;
}

body.resizing-sidebar { cursor: col-resize; }
body.resizing-sidebar-locked-min { cursor: e-resize; }
body.resizing-sidebar-locked-max { cursor: w-resize; }

/* Note */

#content-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#content {
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  overflow-y: auto;
}

#content ul { margin: 0; }
#content ol { margin: 0 0 0 1em; }

#content pre {
  overflow: auto;
  padding: .5em;
  border: 1px solid var(--pre-border-color);
}

#content table {
  border: var(--table-border);
  border-spacing: 0;
  border-collapse: collapse;
}

#content table td {
  padding: .25em;
  border: var(--table-td-border);
  min-width: 1em;
}

#content table td.heading {
  background: var(--table-td-heading-background-color, silver);
  font-weight: bold;
}

body.with-control #content a {
  cursor: pointer;
}

/* My Notes classes */

.my-notes-highlight {
  background: var(--highlight-background-color, yellow) !important;
  color: var(--highlight-text-color, black) !important;
}

.my-notes-text-color-orange   { color: orange; }
.my-notes-text-color-red      { color: red; }
.my-notes-text-color-green    { color: green; }
.my-notes-text-color-blue     { color: blue; }
.my-notes-text-color-yellow   { color: yellow; }
.my-notes-text-color-cyan     { color: cyan; }
.my-notes-text-color-magenta  { color: magenta; }
.my-notes-text-color-purple   { color: purple; }
.my-notes-text-color-black    { color: black; }
.my-notes-text-color-white    { color: white; }
.my-notes-text-color-silver   { color: silver; }
.my-notes-text-color-auto     { color: var(--text-color); }

#my-notes-image-skeleton {
  position: relative;
  display: inline-block;
  user-select: none;
  background: #f5f5f5;
}

#my-notes-image-to-upload-overlay-caption {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em;
  background: #1565c0;
  color: white;
}

#my-notes-image-to-upload-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: .6;
  background: white;
}

body.locked #sidebar,
body.locked #toolbar,
#toolbar.locked .button:not(#INFO) {
  user-select: none;
  pointer-events: none;
  -webkit-user-modify: read-only;
}

#content.locked {
  -webkit-user-modify: read-only;
}

#toolbar.locked .button:not(#INFO) {
  opacity: .4;
}

.my-notes-image {
  background: #f9f9f9;
}

/* Command palette */

#command-palette {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  max-height: 70%;
  border: 1px solid var(--command-palette-border-color);
  border-radius: 3px;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

#command-palette-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 1em;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
}

.command-palette-list {
  overflow-y: auto;
  flex-grow: 1;
}

.command-palette-list-item {
  cursor: pointer;
  font-weight: bold;
  padding: .5em 1em;
  background: var(--command-palette-item-background-color);
  color: var(--command-palette-item-text-color);
}

.command-palette-list-item:not(.plain):hover,
.command-palette-list-item:not(.plain).active {
  background: var(--command-palette-active-item-background-color);
  color: var(--command-palette-active-item-text-color);
}

body.with-command-palette #sidebar,
body.with-command-palette #toolbar {
  pointer-events: none;
}

/* Context menu */

#context-menu {
  position: fixed;
  font-size: .8em;
  font-weight: bold;
  user-select: none;
}

#context-menu .action {
  background: var(--context-menu-background-color);
  color: var(--context-menu-text-color);
  cursor: pointer;
  padding: .8em;
}

#context-menu .action:hover:not(.disabled) {
  background: var(--context-menu-hover-background-color);
  color: var(--context-menu-hover-text-color);
}

#context-menu .action:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#context-menu .action:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#context-menu .action.disabled {
  cursor: default;
  color: var(--context-menu-disabled-text-color);
}

/* Toolbar */

#toolbar {
  transform: translateY(100%);
  background: var(--background-color);
  color: var(--toolbar-button-color);
}

#toolbar .button:not(.letter) {
  color: var(--svg-fill-color);
}

#toolbar .button.active,
#toolbar .button:hover:not(.plain) {
  background: var(--toolbar-button-hover-background-color);
  color: var(--toolbar-button-hover-color);
}

#toolbar .button.active > svg,
#toolbar .button:hover:not(.plain) > svg {
  fill: var(--toolbar-button-hover-color);
}

body:not(.with-toolbar) #toolbar { display: none; }
body.with-toolbar #toolbar { transform: translateY(0); }

#toolbar .button { cursor: pointer; }
#toolbar .button.wide { margin-right: 1.5em; }
#toolbar .button.rotate90 > svg { transform: rotate(90deg); }

#H1 > span { font-size: 1em; }
#H2 > span { font-size: .85em; }
#H3 > span { font-size: .65em; }

#toolbar > .submenu {
  background: var(--toolbar-submenu-background-color);
}

#toolbar .button.letter {
  display: inline-block;
  text-align: center;
}

/* Tooltip */

#tooltip-container {
  position: fixed;
  top: 0;
  left: 0;
}

#tooltip {
  position: fixed;
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  padding: .22em .35em;
  border-radius: 3px;
  font-size: .7em;
  user-select: none;
}

.info-tooltip .row {
  display: flex;
  flex-direction: row;
}

.info-tooltip .column {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 2em;
}

.info-tooltip .column:last-child {
  margin-right: 0;
}

/* Overlay */

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px; /* #drag border */
  right: 0;
  pointer-events: none;
}

body.to-create #overlay { background: var(--to-create-overlay-background-color); }
body.to-rename #overlay { background: var(--to-rename-overlay-background-color); }
body.to-delete #overlay { background: var(--to-delete-overlay-background-color); }

/* Modal */

#modal {
  position: absolute;
  padding: .5em;
  border-radius: 5px;
  min-width: 30%;
  box-sizing: border-box;
  background: var(--modal-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - .5em - 1em));
}

body.with-modal #sidebar,
body.with-modal #toolbar {
  pointer-events: none;
}

#modal.with-border {
  border: 1px solid var(--modal-border-color);
}

#modal input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: .5em;
  font-family: inherit;
  font-size: .8em;
}

#modal #input {
  width: 100%;
  background: white;
  border: 1px solid var(--modal-input-border-color);
}

#modal #buttons {
  text-align: right;
  margin-top: 1em;
}

#modal #buttons input {
  cursor: pointer;
  background: var(--modal-button-background-color);
  color: var(--modal-button-text-color);
  margin-left: .5em;
}

#modal .modal-description {
  font-size: .75em;
  margin-top: 1.5em;
}

body.with-overlay #modal {
  border: none !important;
}

/* Focus */

body.focus #sidebar,
body.focus #toolbar {
  display: none;
}

body.focus {
  left: 0 !important;
}

/* Print */

@media print {
  #sidebar, #toolbar {
    display: none !important;
  }

  body {
    position: static !important;
    left: 0 !important;
    font-size: 100% !important;
    background: white;
    color: black;
  }

  #content pre { border: 1px solid black; }
  #content table { border: none; }
  #content table td { border: 1px solid black; }
  #content table td.heading { background: #dddddd; }
}
